<div class="jr-container">
    <ul class="jrTabs jrWestTabs">
        <li><a href="">Test 1</a></li>
        <li><a href="">Test 2</a></li>
        <li><a href="">Test 3</a></li>
    </ul>

    <ul class="jrTabs jrSouthTabs">
        <li><a href="">Test 1</a></li>
        <li><a href="">Test 2</a></li>
        <li><a href="">Test 3</a></li>
    </ul>

    <ul class="jrTabs jrEastTabs">
        <li><a href="">Test 1</a></li>
        <li><a href="">Test 2</a></li>
        <li><a href="">Test 3</a></li>
    </ul>

    <ng-transclude></ng-transclude>
</div>