<div class="jr-container">
    <div class="jr-horizontal">
        <ul class="jrTabs jrWestTabs"></ul>
        <ul class="jrTabs jrEastTabs"></ul>
        <div class="jrPanel jrPanelWest"><div class="jrPanelContents"></div></div>
        <div class="jrPanel jrPanelEast"><div class="jrPanelContents"></div></div>
    </div>

    <ul class="jrTabs jrSouthTabs"></ul>
    <div class="jrPanel jrPanelSouth"><div class="jrPanelContents"></div></div>
    <pre style="width:300px; margin:auto; font-size:10px;">{{jrContainer|json}}</pre>
</div>