<div class="jr-panel jr-panel-draggable-js">
    <div class="jr-collapsed-bar">
        <a href="" ng-click="expand()" class="jr-expand-left">
            <img src="go-lt-off.gif" />
        </a>
        <a href="" ng-click="expand()" class="jr-expand-right">
            <img src="go-rt-off.gif" />
        </a>
        <a href="" ng-click="expand()" class="jr-expand-up">
            <img src="go-up-on.gif" />
        </a>
        <a href="" ng-click="expand()" class="jr-expand-down">
            <img src="go-dn-on.gif" />
        </a>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="12" height="56.234375" id="ext-gen1284"
             style="width: 12px; height: 56.234375px;">
            <defs></defs>
            <rect width="100%" height="100%" fill="#000" stroke="none" opacity="0" id="ext-gen1285"></rect>
            <text id="ext-sprite-1283" zIndex="0" text="Navigation" font-family="tahoma, arial, verdana, sans-serif"
                  font-weight="bold" font-size="11px" fill="rgb(4, 70, 140)" x="0" y="0" text-anchor="start"
                  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" transform="matrix(0,1,-1,0,5,0)">
                <tspan x="0" dy="3" id="ext-gen1294">Basic Dialog</tspan>
            </text>
        </svg>
    </div>
    <div class="jr-panel-header jr-panel-draggable-handle-js">
        <a href="" ng-click="collapse()" class="jr-collapse-left">
            <img src="go-lt-off.gif" />
        </a>
        <a href="" ng-click="collapse()" class="jr-collapse-right">
            <img src="go-rt-off.gif" />
        </a>
        <a href="" ng-click="collapse()" class="jr-collapse-up">
            <img src="go-up-on.gif" />
        </a>
        <a href="" ng-click="collapse()" class="jr-collapse-down">
            <img src="go-dn-on.gif" />
        </a>
        Basic Dialog
    </div>
    <div class="jr-panel-contents">
        This is a default dialog which is used for displaying information.
    </div>
</div>